.about-wrapper {
    padding: 2rem 2rem;
    height: 70vh;
    .title-wrapper, .avatar-wrapper {
        width: 50%;
    }
}

.avatar-wrapper {
    justify-content: center;
}

.about-avatar {
    height: 25rem;
}

.title {
    font-size: 2rem;
    color: var(--white);
}

.text {
    color: white;
}

.hide-text {
    display: inline-block;
}
.skills {
    margin-top: 3rem;
}
.type {
    /* font-family: "Major Mono Display", monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 1.5s steps(8, end) forwards, blinking 1s infinite; */
    white-space: nowrap; /* keep text in one line */
    overflow: hidden; /* hide text behind the cursor */
    margin: 0.5rem auto;
    /* font-family: "Roboto Mono", monospace; */
    font-size: 1rem;
    font-weight: 400;
}
/* 
.line_1 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__1 2s steps(8, end) 1s 1 normal both,
      animated-cursor__1 900ms steps(8, end) 1;
  }
  
  .line_2 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__2 2s steps(9, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(9, end) 0;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  .line_3 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__1 6s steps(30, end) 1s 1 normal both,
      animated-cursor__1 900ms steps(30, end) 8;
  }
  
  .line_4 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__2 5s steps(30, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(30, end) infinite;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
  }

  .line_5 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__1 6s steps(30, end) 1s 1 normal both,
      animated-cursor__1 900ms steps(30, end) 8;
  }
  
  .line_6 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__2 5s steps(30, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(30, end) infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 7s;
  }

  .line_7 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__1 6s steps(30, end) 1s 1 normal both,
      animated-cursor__1 900ms steps(30, end) 8;
  }
  


  @keyframes animated-cursor__1 {
    from {
      border-right-color: rgba(210, 209, 209, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }
  
  @keyframes animated-cursor__2 {
    from {
      border-right-color: rgba(17, 17, 17, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }
  
  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 11rem;
    }
  }
  
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 13rem;
    }
  }
   */