.about-wrapper {
  /* .title-wrapper,
  .avatar-wrapper {
    width: 50%;
  } */
}

.avatar-wrapper {
  justify-content: center;
}

.about-avatar {
  height: 25rem;
}

.title {
  font-size: 2rem;
  color: var(--white);
}

.text {
  color: white;
}

.hide-text {
  display: inline-block;
}
.skills {
  margin-top: 3rem;
}
.type {
  white-space: nowrap; 
  overflow: hidden; 
  margin: 0.5rem auto;
  font-size: 1rem;
  font-weight: 400;
}
