/* ------ GENERAL -------*/
.screen {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.left-auto {
  margin-left: auto;
}

.background-img {
  background-image: url("../assets/network-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.avatar {
  height: 20rem;
}


/* ----MEDIA QUERIES ----*/
@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
  .screen {
    display: flex;
  }
}
