fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--white);
  border-radius: 8px;
  width: 100%;
}

.MuiFormControl-root {
  label {
    color: var(--white);
  }
  input, textarea {
    color: var(--white);
  }

}
.contact-wrapper {
  background-color: var(--gray);
  width: 40%;

  margin: 4rem auto;
  border-radius: 12px;
  padding: 1rem 2rem 4rem;
  align-items: center;

  h1 {
    color: var(--white);
  }
}

.MuiBox-root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiBox-root {
  width: 100%;
}

.MuiTextField-root {
  width: 75%;
}



.MuiInputBase-root.MuiOutlinedInput-root:hover {
   .MuiOutlinedInput-notchedOutline {
    border-color: var(--lt-blue);
   } 
  }

  .error {
    color: red;
    font-weight: 300;
  }

  .success {
    color: green;
    font-weight: 400;
  }

  .contact-container {
    min-height: 85.2vh;
  }