#root {
  height: 100%;
  font-size: 16px;
}

html {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(12, 56, 69) 100%) no-repeat;
  max-width: auto;
  background-size: cover;

}

:root {
  --green: #0c3845;
  --gray: #272D2D;
  --white: #F6F8FF;
  --lt-blue: #188bda;
  --purple: #551a8b;
}

body{
  margin: 0;
  font-family: "Poppins", sans-serif;

}


body > div {
  height: 100%;
}